BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
SYSCONFIG MASTER_SPI_PORT=ENABLE ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk" SITE "L1" ;
LOCATE COMP "hard_rst_n" SITE "C4" ;
LOCATE COMP "core_active" SITE "E15" ;
LOCATE COMP "sd_dat[0]" SITE "M2" ;
LOCATE COMP "sd_clk" SITE "N1" ;
LOCATE COMP "sd_cmd" SITE "P2" ;
IOBUF PORT "sd_cmd" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "sd_clk" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "sd_dat[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 ;
IOBUF PORT "hard_rst_n" PULLMODE=UP IO_TYPE=LVCMOS33 ;
LOCATE COMP "fpioa[0]" SITE "A8" ;
