//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.09 Education
//Part Number: GW2AR-LV18QN88PC8/I7
//Device: GW2AR-18C
//Created Time: Sun 04 30 19:06:44 2023


IO_LOC "clk" 4;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "hard_rst_n" 16;
IO_PORT "hard_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "core_active" 15;
IO_PORT "core_active" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "fpioa[0]" 69;
IO_PORT "fpioa[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "JTAG_TDI" 27;
IO_PORT "JTAG_TDI" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "JTAG_TDO" 28;
IO_PORT "JTAG_TDO" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8;
IO_LOC "JTAG_TCK" 29;
IO_PORT "JTAG_TCK" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "JTAG_TMS" 30;
IO_PORT "JTAG_TMS" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sd_clk" 83;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sd_cmd" 82;
IO_PORT "sd_cmd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "sd_dat[0]" 84;
IO_PORT "sd_dat[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_dat[1]" 85;
IO_PORT "sd_dat[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_dat[2]" 80;
IO_PORT "sd_dat[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sd_dat[3]" 81;
IO_PORT "sd_dat[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;


